

<div class="jumbotron" id="accommodationQueryWrapper">
    <a class="btn btn-primary" routerLink="/accommodations" role="button">Go back</a>
    <div>
        <h1 class="display-4">Search accommodations</h1>
        <p class="lead">Fill in the form in order to see all accommodations that fit your needs. </p>
        <hr class="my-4">
        <form>
            <div class="form-group">
                <label for="touristSpotPicker">Accommodation's tourist spot</label>
                <select class="form-control" [(ngModel)]="this.submittedObject.TouristSpotName" name="touristSpots" id="touristSpotPicker" placeholder="TouristSpot">
                    <option *ngFor="let item of this.touristSpotService.loadedTouristSpots">{{item.name}}</option>
                </select>
            </div>
            <app-datepicker  (toOut)="toDateHandler($event)"  (fromOut)="fromDateHandler($event)"></app-datepicker> 
            <h1>Guests</h1>
            <div class="form-row">
                <div class="col">
                  <input type="number" class="form-control" name="babies" [(ngModel)]="this.submittedObject.Babies" placeholder="Babies">
                </div>
                <div class="col">
                  <input type="number" class="form-control"  name="kids" [(ngModel)]="this.submittedObject.Kids" placeholder="Kids">
                </div>
                <div class="col">
                    <input type="number" class="form-control"  name="adults" [(ngModel)]="this.submittedObject.Adults" placeholder="Adults">
                </div>
                <div class="col">
                    <input type="number" class="form-control"  name="retirees" [(ngModel)]="this.submittedObject.Retirees" placeholder="Retirees">
                </div>
              </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block submitbtn" (click)="onSubmit()">Search</button>
    </div>
   <select *ngIf="this.visible" class="form-control"  name="accommodations" id="touristSpotPicker" placeholder="TouristSpot">
        <option *ngFor="let item of this.queryResponse">{{item.name}}</option>
    </select> 
    <button type="button" class="btn btn-primary btn-lg btn-block submitbtn" >Book</button>
</div>
