<div class="jumbotron" id="accommodationUpdateWrapper">
    <a class="btn btn-primary" routerLink="/accommodations" role="button">Go back</a>
    <div>
        <h1 class="display-4">Update accommodation</h1>
        <p class="lead">An accommodation's current capacity can be modified in the following form: select an accommodation, it's new 
            capacity, and then click the delete button. </p>
        <hr class="my-4">
    </div>
    <div id="formWrapper">
        <form #form="ngForm">
            <div class="form-group" id="accommodationPicker">
                <label for="accommodationPicker">Accommodations</label>
                <select required class="form-control" id="accommodationPicker" name="accommodation" [(ngModel)]="this.selectedAccommodationName"
                (click)="onAccommodationSelect()">
                <option> </option>
                <option *ngFor="let item of this.accommodationService.loadedAccommodations" >{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile">Upload an image</label>
                <input name="files" type="file" accept="image/*"  (change)="changeListener($event)">
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                  <!-- <input type="text" readonly class="form-control-plaintext" id="staticCapacity" value={{accommodationName}}> -->
                </div>
            </div>
            <div class="form-group">
                <label for="inputNewCapacity">Updated current capacity</label>
                <select required class="form-control" id="newCapacityState" name="newCapacityState" [(ngModel)]="this.newData.fullCapacity">
                <option value="true">Full</option>
                <option value="false">Not full</option>
                </select>
            </div>
            <button [disabled]="!form.valid" type="button" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Update</button>
        </form>
       
    </div>
    <div *ngIf="this.success===true" class="alert alert-success successMessage" role="alert">
        Success! {{this.selectedAccommodationName}} has been updated.
      </div>
  
      <div *ngIf="this.errorOcurred===true" class="alert alert-danger successMessage" role="alert">
        An error ocurred! The error description is: {{this.errorMsg}}.
      </div>
</div>
