Back end/*.suo
Back end/*.user
Back end//bin/
Back end//obj/
Back end/DataAccessTest/obj/
Back end/DataAccessTest/bin/
Back end/DomainTest/obj/
Back end/DomainTest/bin/
Back end/Model/obj/
Back end/Model/bin/
Back end/Obligatorio.BusinessLogic/obj/
Back end/Obligatorio.BusinessLogic/bin/
Back end/Obligatorio.BusinessLogicInterface/obj/
Back end/Obligatorio.BusinessLogicInterface/bin/
Back end/Obligatorio.DataAccess/obj/
Back end/Obligatorio.DataAccess/bin/
Back end/Obligatorio.DataAccessInterface/bin/
Back end/Obligatorio.DataAccessInterface/obj/
Back end/Obligatorio.Domain/obj/
Back end/Obligatorio.Domain/bin/
Back end/Obligatorio.ExternalFileImport/bin/
Back end/Obligatorio.ExternalFileImport/obj/
Back end/Obligatorio.Factory/obj/
Back end/Obligatorio.Factory/bin/
Back end/Obligatorio.ImportInterface/bin/
Back end/Obligatorio.ImportInterface/obj/
Back end/Obligatorio.ImportLogic/bin/
Back end/Obligatorio.ImportLogic/obj/
Back end/Obligatorio.JsonImport/bin/
Back end/Obligatorio.JsonImport/obj/
Back end/Obligatorio.Migrations/obj/
Back end/Obligatorio.Migrations/bin/
Back end/Obligatorio.WebApi/obj/
Back end/Obligatorio.WebApi/bin/
Back end/Obligatorio.SessionInterface/obj/
Back end/Obligatorio.SessionInterface/bin/
Back end/Obligatorio.XmlImport/obj/
Back end/Obligatorio.XmlImport/bin/
Back end/TestResults/obj/
Back end/TestResults/bin/
Back end/WebApiTest/obj/
Back end/WebApiTest/bin/
Back end/.vs/Obligatorio 1/DesignTimeBuild/
Back end/appsettings.json
Front end/ClientApp/node_modules