<div class="jumbotron" id="reservationsMainWrapper">
    <div>
        <h1 class="display-4">Reservations</h1>
        <p class="lead">Check an existing reservation given its code. </p>
        <hr class="my-4">
        <form>
            <div class="form-group">
                <label for="inputCode">Code</label>
                <input type="text" class="form-control" id="inputCode" aria-describedby="codeHelp" placeholder="Code">
            </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block">Find</button>
    </div>

</div>

