<div class="jumbotron" id="reservationsMainWrapper">
    <div>
        <h1 class="display-4">Reservations</h1>
        <p class="lead">Check an existing reservation given its code. </p>
        <hr class="my-4">
        <form #form="ngForm">
                <label for="inputCode">Code</label>
                <input required type="number" class="form-control" id="inputCode" aria-describedby="codeHelp" name="code" placeholder="Code" [(ngModel)]="this.code">
            <button [disabled]="!form.valid" type="button" class="btn btn-primary btn-lg btn-block successMessage" (click)="this.onClicked()">Find</button>
        </form>

    </div>
    <div *ngIf="this.clicked && this.success">
        <a class="list-group-item list-group-item-action list-group-item-primary successMessage"> 
            {{this.returned.informativeText}} , is : {{this.returned.actualReservationStatus}}
        </a>
    </div>
    <div *ngIf="this.errorOcurred===true" class="alert alert-danger successMessage" role="alert">
        An error ocurred! {{this.errorMsg}}.
      </div>
</div>

