<div class="jumbotron" id="touristSpotAddCategoryWrapper" (show)="onRefreshActivation()" (mouseenter)="loadData()" (mousemove)="loadData()">
    <a class="btn btn-primary" routerLink="/touristSpots" role="button">Go back</a>
    <div>
        <h1 class="display-4">Adding categories</h1>
        <p class="lead">In order to add a category to an existing tourist spot, select both items in the following form. </p>
        <hr class="my-4">
    </div>
    <div id="formWrapper">
        <form  #form="ngForm">
            <div class="form-group">
                <label for="touristSpotPicker">TouristSpots</label>
                <select  class="form-control" id="touristSpotPicker" ngModel name="touristSpotPicker" [(ngModel)]="this.selectedTouristSpot" (click)="loadData()" > 
                  <option  (click)="loadData()" *ngFor="let item of this.touristSpotService.loadedTouristSpots ">{{item | nameProyectingPipe}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="categoryPicker">Categories</label>
                <select  class="form-control" id="categoryPicker" name="categoryPicker" [(ngModel)]="this.selectedCategory" > 
                  <option  *ngFor="let item of this.categoryService.loadedCategories">{{item.name}}</option>
                </select>
              </div>
        </form>
        <button (click)="onSubmit()" type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
        <div>
        </div>
        <p> {{this.selectedCategory}} </p>
        <p> {{this.selectedTouristSpot}} </p>
    </div>
</div>
