<div class="jumbotron" id="caategoryMainWrapper">
    <div>
        <h1 class="display-4">Categories</h1>
        <p class="lead">Search through diverse options regarding tourist spot categories management.</p>
        <hr class="my-4">
        <p>Given you need to access to a disabled option, you must login as an admin first. Please do it <a routerLink="/login" routerLinkActive="active">here</a>.</p>
    </div>
    <div class="btn-toolbar mb-3 blocks" role="group" aria-label="Toolbar with button group">
        <button type="button" class="btn btn-secondary" routerLink="/categoryRegister">Register a new tourist spot category</button>
        <button type="button" class="btn btn-secondary" routerLink="/categoryQuery">Search existing tourist spot categories</button>
    </div>
</div>
