 <!-- Horizontal bar on top -->
 <nav class="navbar navbar-expand-lg border-bottom topHorizontalNavbar">
  <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
 <!-- /#Horizontal bar on top -->

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Uruguay Natural </div>
    <div class="list-group list-group-flush">
      <a routerLink="/"  
      class="list-group-item list-group-item-action" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">
      Home
      </a>
      <a routerLink="/touristSpots"  class="list-group-item list-group-item-action" routerLinkActive="active">Tourist Spots</a>
      <a routerLink="/categories"  class="list-group-item list-group-item-action " routerLinkActive="active">Categories</a>
      <a routerLink="/regions"  class="list-group-item list-group-item-action " routerLinkActive="active">Regions</a>
      <a routerLink="/accommodations"  class="list-group-item list-group-item-action " routerLinkActive="active">Accommodations</a>
      <a routerLink="/reservations"  class="list-group-item list-group-item-action " routerLinkActive="active">Reservations</a>
      <a routerLink="/admins" class="list-group-item list-group-item-action " routerLinkActive="active">Admins</a>
      <a routerLink="/login"  class="list-group-item list-group-item-action " routerLinkActive="active">Login</a>
      <!-- <a routerLink="/help"  class="list-group-item list-group-item-action" routerLinkActive="active">Help</a> -->
      <a routerLink="/reports"  class="list-group-item list-group-item-action " routerLinkActive="active">Report</a> 
    </div>
  </div>



  <!-- Page Content -->
  <router-outlet></router-outlet>
  <!-- /#page-content-wrapper -->
  
</div>
<!-- /#wrapper -->