<div class="jumbotron" id="touristSpotMainWrapper">
    <div>
        <h1 class="display-4">Admins</h1>
        <p class="lead">Search through diverse options regarding admins management.</p>
        <hr class="my-4">
        <p>Given you need to access to a disabled option, you must login as an admin first. Please do it <a routerLink="/login" routerLinkActive="active">here</a>.</p>
    </div>
    <div class="btn-toolbar mb-3 blocks" role="group" aria-label="Toolbar with button group">
        <button *ngIf="checkAdminToken()" type="button" class="btn btn-secondary" routerLink="/adminRegister">Register a new admin</button>
        <button *ngIf="checkAdminToken()" type="button" class="btn btn-secondary" routerLink="/adminDeletion">Remove an existing admin</button>
        <button *ngIf="checkAdminToken()" type="button" class="btn btn-secondary" routerLink="/adminUpdate">Update an existing admin</button>
    </div>
</div>

