<div class="jumbotron" id="touristSpotRegisterWrapper">
    <a class="btn btn-primary" routerLink="/touristSpots" role="button">Go back</a>
    <div>
        <h1 class="display-4">Tourist Spots Register</h1>
        <p class="lead">Fill in the form in order to register a new tourist spot in an existing region. </p>
        <hr class="my-4">
        
            <form  #form="ngForm">
                <div class="form-group">
                    <label for="inputTouristSpotName">Tourist spot name</label>
                    <input required type="text" class="form-control" id="inputTouristSpotName" aria-describedby="touristSpotHelp" placeholder="Enter name" [(ngModel)]="submittedObject.name" name="name">
                </div>
                <div class="form-group">
                    <label for="inputDescription">Tourist spot description</label>
                    <input  required type="text" class="form-control" id="inputDescription" aria-describedby="descriptionHelp" placeholder="Enter a nice description" [(ngModel)]="submittedObject.description" name="description">
                    <small id="descriptionHelp" class="form-text text-muted">The description should not be larger than 2000 characters.</small>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile">Upload an image</label>
                    <input  required type="file" accept="image/*" (change)="changeListener($event)">
                </div>
            
                <button [disabled]="!form.valid" type="button" class="btn btn-primary btn-lg btn-block" (click)="onSubmitRegister()">Next</button>

                <div *ngIf="this.show" class="form-group">
                  <h2>Select its region</h2>
                  <select #regionSelector class="form-control" id="categoryPicker" ngModel name="regionSelector" [(ngModel)]="this.submittedObject.regionName" > 
                    <option  *ngFor="let item of this.regions">{{item}}</option>
                  </select> 
                </div>

                <button *ngIf="this.show" type="button" class="btn btn-primary btn-lg btn-block" (click)="onSubmitUpdate()">Update</button>

                <div *ngIf="this.success===true" class="alert alert-success successMessage" role="alert">
                  Success! {{this.submittedObject.name}} has been registered and now belongs to the {{this.submittedObject.regionName}} region.
                </div>
            
                <div *ngIf="this.errorOcurred===true" class="alert alert-danger successMessage" role="alert">
                  An error ocurred! The error description is: {{this.errorMsg}}.
                </div>
                

    

             </form>
            </div>
    </div>

