<div class="jumbotron" id="touristSpotRegisterWrapper">
    <a class="btn btn-primary" routerLink="/touristSpots" role="button">Go back</a>
    <div>
        <h1 class="display-4">Tourist Spots Register</h1>
        <p class="lead">Fill in the form in order to register a new tourist spot in an existing region. </p>
        <hr class="my-4">
        <form>
            <div class="form-group">
                <label for="inputTouristSpotName">Tourist spot name</label>
                <input type="text" class="form-control" id="inputTouristSpotName" aria-describedby="touristSpotHelp" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="inputDescription">Tourist spot description</label>
                <input type="text" class="form-control" id="inputDescription" aria-describedby="descriptionHelp" placeholder="Enter a nice description">
                <small id="descriptionHelp" class="form-text text-muted">The description should not be larger than 2000 characters.</small>
            </div>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                  <label class="mr-sm-2" for="regionPicker">Region</label>
                  <select class="custom-select mr-sm-2" id="regionPicker">
                    <option value="Metropoliatana">Metropolitana</option>
                    <option value="Centro Sur">Centro Sur</option>
                    <option value="Este">Este</option>
                    <option value="Este">Litoral Norte</option>
                    <option value="Este">Corredor Pajaros Pintados</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile">Upload an image</label>
                <input type="file" class="form-control-file" accept="image/x-png,image/gif,image/jpeg" id="exampleFormControlFile1">
            </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>

</div>
