<div class="jumbotron" id="touristSpotQueryWrapper">
    <a class="btn btn-primary" routerLink="/accommodations" role="button">Go back</a>
    <div>
        <h1 class="display-4">Delete accommodation</h1>
        <p class="lead">So as to delete an existing accommodation, select it in the following form. Then click the delete button. </p>
        <hr class="my-4">
    </div>
    <div id="formWrapper">
        <form #form="ngForm">
            <div class="form-group">
                <label for="accommodationPicker">Accommodations</label>
                <select required name="accommodation" class="form-control" id="accommodationPicker" [(ngModel)]="this.selectedAccommodationName">
                    <option *ngFor="let item of this.accommodationService.loadedAccommodations">{{item.name}}</option>
                </select>
              </div>
        </form>
        <button [disabled]="!form.valid" type="button" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Delete</button>
    </div>
    <div *ngIf="this.success===true" class="alert alert-success successMessage" role="alert">
        Success! {{this.selectedAccommodationName}} has been deleted.
      </div>
  
      <div *ngIf="this.errorOcurred===true" class="alert alert-danger successMessage" role="alert">
        An error ocurred! The error description is: {{this.errorMsg}}.
      </div>
</div>
