<div class="jumbotron" id="touristSpotQueryWrapper">
    <a class="btn btn-primary" routerLink="/accommodations" role="button">Go back</a>
    <div>
        <h1 class="display-4">Delete accommodation</h1>
        <p class="lead">So as to delete an existing accommodation, select it in the following form. Then click the delete button. </p>
        <hr class="my-4">
    </div>
    <div id="formWrapper">
        <form>
            <div class="form-group">
                <label for="accommodationPicker">Accommodations</label>
                <select multiple class="form-control" id="accommodationPicker">
                </select>
              </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block">Delete</button>
    </div>
</div>
