<div class="jumbotron" id="importWrapper">
    <div>
        <h1 class="display-4">Import data</h1>
        <p class="lead">Fill in the form in order to import data in an available format. </p>
        <hr class="my-4">
            <form  #form="ngForm">
                <div class="form-group">
                    <label for="inputTouristSpotName">Xml AssemblyPath</label>
                    <input required type="text" class="form-control" id="inputTouristSpotName" aria-describedby="touristSpotHelp" placeholder="Enter name" [(ngModel)]="this.xmlPath" name="name">
                </div>
                <div class="form-group">
                    <label for="inputTouristSpotName">Json AssemblyPath</label>
                    <input required type="text" class="form-control" id="inputTouristSpotName" aria-describedby="touristSpotHelp" placeholder="Enter name" [(ngModel)]="this.jsonPath" name="name">
                </div>
                <button [disabled]="!form.valid" type="button" class="btn btn-primary btn-lg btn-block miButton" (click)="loadAssemblies()">Load Assemblies</button>
            </form>
            <form #form2="ngForm">
                <div class="form-group">
                <select  required class="form-control" id="categoryPicker" ngModel name="categoryPicker" [(ngModel)] = "this.format" > 
                    <option [value]=item *ngFor="let item of this.importService.loadedImplementations">{{item}}</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="inputTouristSpotName">Import file path</label>
                    <input required type="text" class="form-control" id="inputTouristSpotName" aria-describedby="touristSpotHelp" placeholder="Enter name" [(ngModel)]="this.Filepath" name="name">
                </div>
                <button [disabled]="!form2.valid" type="button" class="btn btn-primary btn-lg btn-block miButton" (click)="onSubmit()">Import</button>
            </form>
    </div>
    <div *ngIf="this.success===true" class="alert alert-success successMessage" role="alert">
        Success! .
      </div>
  
      <div *ngIf="this.errorOcurred===true" class="alert alert-danger successMessage" role="alert">
        An error ocurred! The error description is: {{this.errorMsg}}.
      </div>
</div>
                
            
                

