<div class="jumbotron" id="touristSpotQueryWrapper" >
    <a class="btn btn-primary" routerLink="/touristSpots" role="button">Go back</a>
    <div>
        <h1 class="display-4">Tourist Spots</h1>
        <p class="lead">So as to check existing tourist spots, select a region and at least one category. Then click the search button. </p>
        <!-- <button (click)="onRefreshActivation()" type="button" class="btn btn-primary btn-lg btn-block">Load existing categories!</button> -->
        <hr class="my-4">
    </div>
    <div id="formWrapper">
        <form #form="ngForm">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                  <label class="mr-sm-2" for="regionPicker">Region</label>
                  <select required class="custom-select mr-sm-2" id="regionPicker" ngModel name="regionPicker" [(ngModel)] = "selectedRegionName">
                    <option value='Region metropolitana'>Metropolitana</option>
                    <option value='Region centro sur'>Centro Sur</option>
                    <option value='Region este'>Este</option>
                    <option value='Region litoral norte'>Litoral Norte</option>
                    <option value='Region corredor de los pajaros pintados'>Corredor Pajaros Pintados</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="categoryPicker">Categories</label>
                <select multiple="multiple" class="form-control" id="categoryPicker" ngModel name="categoryPicker" [(ngModel)]="selectedCategoryNames" > 
                  <option  *ngFor="let item of this.categoryService.loadedCategories">{{item.name}}</option>
                </select> 
              </div>
        </form>
        <button [disabled]="!form.valid" (click)="onSubmit()" type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
        <div *ngIf="this.errorOcurred===true" class="alert alert-danger successMessage" role="alert">
          An error ocurred! The error description is: {{this.errorMsg}}.
        </div>
        <div>
        <table class="table table-hover table-bordered table-info miTabla">
          <tr>
            <th *ngFor="let column of headers">
              {{column | uppercase}}
            </th>
          </tr>

          <tr *ngFor="let row of queryResponse">
           <td *ngFor="let column of headers">
            <div *ngIf="column!=='image' ; else elseBlock">{{row[column]}}</div>
            <ng-template #elseBlock><img src="{{row['image']}}"  width="250" height="250"/></ng-template>
           </td>
          </tr>
        </table>
        </div>
    
       
    </div>
</div>