
<div class="jumbotron" id="categoryRegisterWrapper">
    <a class="btn btn-primary" routerLink="/categories" role="button">Go back</a>
    <div>
        <h1 class="display-4">Register a tourist spot category</h1>
        <p class="lead">Register a category providing a new category name. </p>
        <hr class="my-4">
        <form>
            <div class="form-group">
                <label for="inputCategoryName">Name</label>
                <input type="text" class="form-control" id="inputName" name="name" aria-describedby="nameHelp" [(ngModel)]="this.name" placeholder="Category name">
            </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Register</button>
    </div>
   


 
    <div *ngIf="this.show"  class="modal" id="exampleModalCenter" #modal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Error!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="false">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                     <h1>Oops! Check that this category hasnt been registered already.</h1>
                     <a (click)="resetError()" class="btn close_link" data-dismiss="modal">Close</a>
                </div>
    
        </div>
    </div>
    </div> 
    
</div>

