<div class="jumbotron" id="categoryRegisterWrapper">
    <a class="btn btn-primary" routerLink="/categories" role="button">Go back</a>
    <div>
        <h1 class="display-4">Register a tourist spot category</h1>
        <p class="lead">Register a category providing a new category name. </p>
        <hr class="my-4">
        <form>
            <div class="form-group">
                <label for="inputCategoryName">Name</label>
                <input type="text" class="form-control" id="inputName" name="name" aria-describedby="nameHelp" [(ngModel)]="this.name" placeholder="Category name">
            </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Register</button>
    </div>

</div>
