<div class="jumbotron" id="adminDeleteWrapper">
    <a class="btn btn-primary" routerLink="/admins" role="button">Go back</a>
    <div>
        <h1 class="display-4">Delete an admin</h1>
        <p class="lead">Delete an admin providing an existing valid email and its password. </p>
        <div class="jumbotron" id="danger">
            <h3>Warning!</h3>
            <p>This action cannot be undone.</p>
          </div> 
        <hr class="my-4">
        <form>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="">
                <small id="descriptionHelp" class="form-text text-muted"></small>
            </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block">Delete</button>
    </div>

</div>

