<div class="jumbotron" id="touristSpotMainWrapper">
    <div>
        <h1 class="display-4">Tourist Spots</h1>
        <p class="lead">Search through diverse options regarding tourist spot management.</p>
        <hr class="my-4">
        <p>Given you need to access to a disabled option, you must login as an admin first. Please do it <a routerLink="/login" routerLinkActive="active">here</a>.</p>
    </div>
    <div class="btn-toolbar mb-3 blocks" role="group" aria-label="Toolbar with button group">
        <button type="button" class="btn btn-secondary" routerLink="/touristSpotRegister">Register a new tourist spot</button>
        <button type="button" class="btn btn-secondary" routerLink="/touristSpotQuery">Search existing tourist spots</button>
    </div>
</div>
