*.suo
*.user
/bin/
/obj/
DataAccessTest/obj/
DataAccessTest/bin/
DomainTest/obj/
DomainTest/bin/
Model/obj/
Model/bin/
Obligatorio.BusinessLogic/obj/
Obligatorio.BusinessLogic/bin/
Obligatorio.BusinessLogicInterface/obj/
Obligatorio.BusinessLogicInterface/bin/
Obligatorio.DataAccess/obj/
Obligatorio.DataAccess/bin/
Obligatorio.DataAccessInterface/bin/
Obligatorio.DataAccessInterface/obj/
Obligatorio.Domain/obj/
Obligatorio.Domain/bin/
Obligatorio.Factory/obj/
Obligatorio.Factory/bin/
Obligatorio.Migrations/obj/
Obligatorio.Migrations/bin/
Obligatorio.WebApi/obj/
Obligatorio.WebApi/bin/
TestResults/obj/
TestResults/bin/
WebApiTest/obj/
WebApiTest/bin/
.vs/Obligatorio 1/DesignTimeBuild/
appsettings.json